body {
  user-select: none;
  cursor: default;
}

.MenuItem {
  flex: 0 0 40px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  height: 40px;
  display: inline-block;
  line-height: 40px;
}

.ToolPanel {
  flex: 1;
  display: none;
}

.ToolPanelActive {
  display: block;
}

.ThemeCircleButton {
  border: solid 1px white;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: #808080;
  color: white;
}

.ThemeCircleButton:active {
  background-color: #909090;
  color: #808080;
}

.ThemeContainer {
  background-color: #808080;
  font-family: sans-serif;
  color: #F0F0F0;
  font-size: 14px;
}

.ThemeContainerActive {
  background-color: #909090;
}

.ThemeContainerBorderT {
  border-top: solid 1px #707070;
}

.ThemeContainerBorderL {
  border-left: solid 1px #707070;
}

.ThemeContainerBorderB {
  border-bottom: solid 1px #707070;
}

.ThemeContainerBorderR {
  border-right: solid 1px #707070;
}

.ThemeContainerBorder {
  border: solid 1px #707070;
}
