body {
  user-select: none;
  cursor: default;
  font-size: 12px;
}

html::-webkit-scrollbar {
  display: none;
}

#tool_container::-webkit-scrollbar {
  display: none;
}

.MenuItem {
  flex: 0 0 40px;
  text-align: center;
  vertical-align: middle;
  height: 40px;
  display: inline-block;
  line-height: 40px;
}

.ToolPanel {
  flex: 1;
  display: none;
}

.ToolPanelActive {
  display: flex;
}

.DeckShipCell {
  height: 40px;
}

.DeckTable {
  display: none;
}

.DeckTableActive {
  display: block;
}

.FontNormal {
  font-size: 12px;
}

.FontLarge {
  font-size: 20px;
}

.CountdownLabel {

}

.EllipsisLabel {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#webview_left_panel {
  left: -220px; /* 5px 余分に*/
}

#webview_left_panel.hide {
  left: -200px;
  transition-property: left;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

#webview_left_panel.show {
  left: 0px;
  transition-property: left;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
