.ThemeCircleButton {
  border: solid 1px #F0F0F0;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: #707070;
  color: #F0F0F0;
}

.ThemeCircleButton:active {
  background-color: #808080;
  color: #606060;
}

.ThemeRectButton {
  border: solid 1px #555;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: #707070;
  color: #F0F0F0;
}

.ThemeRectButton:active {
  background-color: #808080;
  color: #606060;
}

.ThemeContainer {
  background-color: #606060;
  font-family: sans-serif;
  color: #F0F0F0;
  font-size: 14px;
}

.ThemeContainerActive {
  background-color: #707070;
  font-family: sans-serif;
  color: #F0F0F0;
  font-size: 14px;
}

.ThemeContainerBorderT {
  border-top: solid 1px #505050;
}

.ThemeContainerBorderL {
  border-left: solid 1px #505050;
}

.ThemeContainerBorderB {
  border-bottom: solid 1px #505050;
}

.ThemeContainerBorderR {
  border-right: solid 1px #505050;
}

.ThemeContainerBorder {
  border: solid 1px #505050;
}

.ThemeTableHeader {
  background-color: #333;
  display: table-cell;
  height: 27px;
  white-space: nowrap;
  vertical-align: middle;
  line-height: 27px;
  position: sticky;
  top: 0;
}

.ThemeTableRow {
  height: 25px;
}

.ThemeTableRowEven {
  background-color: #666;
}

.ThemeTableRowOdd {
  background-color: #555;
}

.ThemeTableCell {
  height: 25px;
  display: table-cell;
  padding-left: 5px;
  padding-right: 5px;
  vertical-align: middle;
  white-space: nowrap;
  vertical-align: middle;
  overflow: hidden;
}
